certifi==2022.9.24
Markdown==3.3.4
matplotlib==3.5.1
numpy==1.22.3
pandas==1.4.3
pip==21.2.4
scikit-learn==1.1.1
scipy==1.7.3
seaborn==0.11.2
torch==1.11.0
tqdm==4.64.1
xgboost==1.7.5
XlsxWriter==3.0.3
